<div class="wrapper">
  <div class="imgform_container">
    <div class="spaceimage">
      <img class="imgscroll" src="https://picsum.photos/200" alt="flat" />
      <img class="imgscroll" src="https://picsum.photos/200" alt="flat" />
      <img class="imgscroll" src="https://picsum.photos/200" alt="flat" />
    </div>

    <form class="bookingform" action="/bookings" method="POST">
      <label>Select a date: </label>
      <input
        type="date"
        id="date"
        name="date"
        min="2022-01-01"
        max="2024-12-31"
      />
      <p></p>
      <input type="hidden" name="space_id" value="<%=@space.id%>" />
      <input type="submit" value="Book Now" />
    </form>
  </div>

  <div class="namedesc">
    <h2><%= @space.name %></h2>
    <p>£<%= @space.ppn%> per night</p>
    <p><%= @space.description %></p>
  </div>

  <% if session[:user_id] == @space.user_id %>
  <div class="admincentre">
    <h2>Admin Centre</h2>
    <div class="adminform">
      <a class="updatespace" href="/update/<%=@space.id%>/edit">Update Space</a>

      <form action="/spaces/<%=@space.id%>" method="post">
        <p></p>

        <input type="submit" value="Delete Space" />
      </form>
    </div>
  </div>
</div>
<% end %>
